<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">   
    <title>글상세(getBoard.html)</title>
    <style>
        tr td:first-child{
            background-color: pink;
            width: 80px;
        }
    </style>
</head>
<body>
    <center>
        <h1>게시글 상세</h1>
         <form action="updateBoard" method="post">
		   <input name="seq" type ="hidden" th:value ="${board.seq}">
          <table border="1"cellspacing=0 cellpadding= 0>
            <tr>
                <td>제목</td>
                <td><input name="title" th:value="${board.title}"></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td><input name="writer" th:value="${board.writer}"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea name="content"cols="30" rows="10"
                      th:text="${board.content}"></textarea></td>
            </tr>
           <tr>
                <td>등록일</td>
                <td name="createDate" th:text="${#dates.format(board.createDate,'yyyy-MM-dd')}"></td>
            <tr>
			<tr>
                <td>조회수</td>
                <td th:text="${board.cnt}"></td>
			</tr>  
			<tr>
			<td colspan="2" align="center"><input type="submit" value ="수정하기"></td>
			</tr>         
          </table>
        </form>
       <a th:href="@{/insertBoard}">글등록  | </a>       
       <a th:href="@{/deleteBoard(seq=${board.seq})}">삭제하기  | </a> 
       <a th:href="@{/getBoardList}">글목록  </a>
    </center>
  </body>
</html>